/* reset必须要在第一行，否则会把后面的sobrescribir */
@import url(reset.css);

@import url('https://fonts.googleapis.com/css2?family=Handlee&family=Montserrat:wght@400;700&display=swap');

* {
    box-sizing: border-box;
}

img {
    width: 100%;
    height: auto;
    display: block;
}

a {
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}

:root {
    --funteprincipal: 'Montserrat', sans-serif;
    --funetetitulo: 'Handlee', cursive;
    --colorprincipal: #fa573a;
    --colorsecundario: #212423;
    --margingrid: 1em;
    --font-size: 1em;
    --anchomaximo: 68.75em;
}

.container {
    max-width: var(--anchomaximo);
    margin: 0 auto;
}

body {
    font-family: var(--funteprincipal);
    font-size: var(--font-size);
}

/*------ Inicio header ------*/

header .nav-top {
    background-color: var(--colorsecundario);
    padding: 1.25em 0;
}

header .nav-top .container {
    display: flex;
    justify-content: space-around;
}

header .nav-top a {
    color: var(--colorprincipal);
    text-decoration: none;
}

header .nav-top a i {
    font-size: 150%;
}

header .nav-top span {
    color: #fff;
    display: none;
}


header nav {
    padding: 1.25em;
}

header nav .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

header nav .menu {
    width: 100%;
}

/* 添加功能 */
header nav .menu .activa {
    color: var(--colorprincipal);
}

header nav .menu a:hover {
    color: var(--colorprincipal);
}

header nav .hamburguesa {
    cursor: pointer;
    width: 1.875em;
}

header nav .hamburguesa div {
    border-top: 2px solid #aaa;
    margin-bottom: 0.625em;
}

header nav figure {
    max-width: 100px;
}


header nav .menu a {
    display: block;
    width: 100%;
    text-decoration: none;
    text-align: center;
    padding: 1.25em;
    color: #aaa;
    border-bottom: 1px solid #aaa;
}

header nav .menu li:last-child a {
    border-bottom: 0px;
}

/*------- Final header --------*/


/*---------- Inicio menu ------------*/

main section {
    padding: 2.125em var(--margingrid);
    background-color: var(--colorsecundario);
}

main section h2 {
    color: #fff;
    font-family: var(--funetetitulo);
    font-size: 2em;
    text-align: center;
}

main section h2 span {
    color: var(--colorprincipal);
}


main section .underline {
    position: relative;
    width: 6.25rem;
    margin: 0 auto;
}

main section .underline hr {
    position: absolute;
    /* cambio de capa 因为提升了，所以没有宽度了，要再加width */
    width: 100%;
    top: -2px;
    /* 这里是border-color */
    border-color: var(--colorprincipal);
}

main section .underline span {
    display: block;
    text-align: center;
    color: var(--colorprincipal);
    font-weight: 700;
}

main section:last-child {
    margin-bottom: 3em;
}

main .row {
    /* display: flex;
    flex-wrap: wrap; */
    margin-top: 2em;
}

.row ul li {
    padding: 5px 8px;
    border-radius: 3px;
}

.row ul li a {
    display: block;
    color: #fff;
}

.row ul li:first-child {
    background-color: var(--colorprincipal);
}

.row .show {
    position: relative;
    margin-top: 1.875em;
}

.row h4 {
    font-weight: 700;
    color: #fff;
}

.row .show hr {
    position: absolute;
    width: 50px;
    border-color: var(--colorprincipal);
}

.row .show p {
    margin-top: 20px;
}

.row p {
    font-size: 0.8em;
    color: #999;
}


.row .contenido {
    padding: 0.625em 1.875em;
}

.row .contenido article {
    padding: 1em 0;
}

.row .contenido h4 {
    font-size: 0.9em;
    margin: 0.9375em 0 0.625em 0;
    font-weight: 700;
}

.row .contenido h4 span {
    color: var(--colorprincipal);
    font-weight: none;
    padding-left: 0.625em;
}


main section .enlace {
    display: block;
    color: var(--colorprincipal);
    text-decoration: none;
    margin-top: 0.9375em;
    font-size: 0.8em;

}

/*---------- Final menu ------------*/


/*-------------- Inicio Footer -------------*/
footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    background-color: var(--colorsecundario);
    padding: 1.25em 0px;
    text-align: center;
    color: white;
    font-size: 110%;
}

footer a {
    color: white;
    text-decoration: none;
}

footer a:hover {
    color: var(--colorsecundario);
}

.flecha a {
    display: block;
    color: var(--colorprincipal);
    /* 因为是icono，所以大小根据font-size来 */
    font-size: 300%;
    position: fixed;
    /* 这里需要是rem */
    bottom: 4.375rem;
    right: 1.25rem;
}

/*-------------- Final Footer --------------*/



/* inicio mediaqueries */
@media(min-width:48em) {

    /* header */
    header .nav-top .container {
        justify-content: space-between;
    }

    header .nav-top a i {
        font-size: 120%;
    }

    header .nav-top span {
        display: inline;
    }

    /* menu */

    main .row {
        display: flex;
        flex-wrap: wrap;
        margin-bottom: 60px;
    }

    .row .opcion {
        margin: 2.5em 5em 0 0;
        width: 23%;
    }

    .row ul li {
        padding: 0.625em 0.625em;
        margin: 3px 0;
        border-radius: 3px;
    }

    .row .show {
        margin-top: 6.25em;
    }

    .row .show p {
        line-height: 1.5em;
    }

    .row .contenido {
        width: 60%;
    }

    .row .contenido article {
        display: flex;
        flex-wrap: wrap;
    }

    .row .contenido figure {
        width: 30%;
        margin: 0.9375em 0.9375em 0 0;
    }








    /* footer */
    footer {
        text-align: left;
    }

}

@media(min-width:62.75em) {
    header nav .menu {
        /* 为了可以让flex自动ajustar */
        width: auto;
    }

    header nav .hamburguesa {
        display: none;
    }

    header nav .menu li {
        display: inline-block;
    }

    header nav .menu a {
        padding: 0.5em 0 1.25em 1.25em;
        border-bottom: 0;
    }

}